.bg{
  position: absolute;
  top:0;
  left: 0;
  width: 1680px;
  height: 1050px;
  background-position: center center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: scroll;
  opacity: 1;
  background-image: url(../img/bg.jpg);
}
.content{
  position: absolute;
  top:0;
  left:0;
  width:  1680px;
  height: 1050px;
  overflow: hidden;
}
.content .logo{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 370px;
  height: 300px;
  background-image: url(../img/logo.png);
  z-index: 2;
}
.content .bgrar{
  position: absolute;
  width: 1950px;
  height: auto;
  top:0px;
  bottom:0px;
  right:-130px;
  background-repeat: no-repeat;
  background-size:1950px;
  background-image: url("../img/raxara.png");
  overflow: hidden;
  opacity: 0.5;
 }
.content .character{
  position: absolute;
  top:500px;
  right: 0px;
  width:960px;
  height:484px;
  background-image: url(../img/);
  z-index: 2;
}

div.box{
  position: absolute;
  top:1050px;
  left: 0px;
  width:1680px;
  height: 250px;
  background-color: white;
  box-shadow:0px 0px 20px 0px  #FFCCFF inset;
}
.Information{
  position: absolute;
  top:30px;
  right: 20px;
  border:1px solid #FFCCFF;
}
td.info1{
  text-align: left;
}
td.info2{
  text-align: right;
}
div.textbox_friends{
  position: absolute;
  top:20px;
  left:20px;
  width: 550px;
  height:150px;
}
.textbox_mi{
  position: absolute;
  top:10px;
  left: 0px;
  width: 48px;
  height: 44px;
  animation-name: move_mi;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-direction: reverse;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  -webkit-animation-name: move_mi;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 0s;
  -webkit-animation-direction: reverse;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
}

@keyframes move_mi {
  0% {
    opacity: 0;
    background-color: #FFFFFF;
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
  }
  50%{
    opacity: 1;
    background-image: url("../img/mi.png");
    transform: rotateY(0deg);
    -webkit-background-image: url("../img/mi.png");
    -webkit-transform: rotateY(0deg);
  }
  100%{
    opacity: 0;
    background-color: #FFFFFF;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
  }
}