body{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  overflow: scroll;
}
body::-webkit-scrollbar{
  display: none;
}
p{
  display: inline-block;
  vertical-align: middle;
}
.bg{
  position: absolute;
  top:0px;
  left: 0px;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background-position: center center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 1;
  background-image: url(../img/bg.jpg);
  overflow: hidden;
}

.content{
  position: absolute;
  top:0;
  left:0;
  width:  100vw;
  height: auto;
  min-height: 100vh;
  overflow: hidden;
}
.content .logo{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 370px;
  height: 300px;
  background-image: url(../img/logo.png);
  z-index: 2;
}
.content .bgrar{
  top: 0px;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  background-image: url("../img/raxara.png");
  overflow: hidden;
  opacity: 0.5;
 }
.content .character{
  position: absolute;
  top:500px;
  right: 0px;
  width:960px;
  height:484px;
  background-image: url(../img/);
  z-index: 2;
}

.box{
  position: absolute;
  bottom: -20%;
  left: 0px;
  width:100vw;
  height: 20vh;
  background-color: white;
  box-shadow:0px 0px 20px 0px  #FFCCFF inset;
}
.box .Information{
  position: absolute;
  top:30px;
  right: 20px;
  border:1px solid #FFCCFF;
}
td.info1{
  text-align: left;
}
td.info2{
  text-align: right;
}
.textbox_friends{
  position: absolute;
  top:20px;
  left:20px;
  width: 550px;
  height: 60px;
  display: inline;
  align-items: left ;
}
.textbox_mi{
  position: relative;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  animation-name: move_mi;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-direction: reverse;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
.textbox_bou{
  position: relative;
  width: 26px;
  height: 10px;
  background-repeat: no-repeat;
  animation-name: move_bou;
  animation-duration: 3s;
  animation-delay: 0.2s;
  animation-direction: reverse;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
.textbox_nn{
  position: relative;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  animation-name: move_nn;
  animation-duration: 3s;
  animation-delay: 0.4s;
  animation-direction: reverse;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
.textbox_na{
  position: relative;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  animation-name: move_na;
  animation-duration: 3s;
  animation-delay: 0.6s;
  animation-direction: reverse;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
.textbox_to{
  position: relative;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  animation-name: move_to;
  animation-duration: 3s;
  animation-delay: 0.8s;
  animation-direction: reverse;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes move_mi {
  0% {
    opacity: 0;
    background-color: #FFFFFF;
    transform: rotateY(-180deg);
  }
  50%{
    opacity: 1;
    background-image: url("../img/mi.png");
    transform: rotateY(0deg);
  }
  100%{
    opacity: 0;
    background-color: #FFFFFF;
    transform: rotateY(180deg);
  }
}

@keyframes move_bou {
  0% {
    opacity: 0;
    background-color: #FFFFFF;
    transform: rotateY(-180deg);
  }
  50%{
    opacity: 1;
    background-image: url("../img/bo.png");
    transform: rotateY(0deg);
  }
  100%{
    opacity: 0;
    background-color: #FFFFFF;
    transform: rotateY(180deg);
  }
}
@keyframes move_nn {
  0% {
    opacity: 0;
    background-color: #FFFFFF;
    transform: rotateY(-180deg);
  }
  50%{
    opacity: 1;
    background-image: url("../img/nn.png");
    transform: rotateY(0deg);
  }
  100%{
    opacity: 0;
    background-color: #FFFFFF;
    transform: rotateY(180deg);
  }
}
@keyframes move_na {
  0% {
    opacity: 0;
    background-color: #FFFFFF;
    transform: rotateY(-180deg);
  }
  50%{
    opacity: 1;
    background-image: url("../img/na.png");
    transform: rotateY(0deg);
  }
  100%{
    opacity: 0;
    background-color: #FFFFFF;
    transform: rotateY(180deg);
  }
}
@keyframes move_to {
  0% {
    opacity: 0;
    background-color: #FFFFFF;
    transform: rotateY(-180deg);
  }
  50%{
    opacity: 1;
    background-image: url("../img/to.png");
    transform: rotateY(0deg);
  }
  100%{
    opacity: 0;
    background-color: #FFFFFF;
    transform: rotateY(180deg);
  }
}